* {
margin: 0;
padding: 0;

}

body {
background-color: silver;


}
nav {
width: 100%;
height: 100px;
background-color: lightgray;

}
ul {
margin-left: 500px;

}

ul li {
  display: block;
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;


}

ul li a {
text-decoration: none;
font-size: 14px;
font-family: arial;
color: black;
padding: 0 20px;
font-size: 2rem;

}

ul li a:hover {
color: red;
border-style: outset;
}


li {
padding-left: 35px;

}

h1 {
font-size: 3rem;
text-align: center;
}

.income {
padding: 0px;

}
